/* Reset rule */
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 16px;
  background-color: #fff;
}

.full-container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.flex-container {
  display: flex;
  justify-content: center;
  padding: 30px 0 15px 0;
  margin: 10px 0 0 0;
}

.menu-item {
  display: flex;
  width: 90%;
  justify-content: space-between;
  /* border: 1px solid green; */
}

.hero-logo img {
  margin-top: 10px;
}

.main-links {
  display: flex;
  gap: 40px;
}

.contact-link {
  background-color: #645cff;
  border: none;
  padding: 5px 5px 7px 7px;
  margin: 5px 5px 7px 7px;
  border-radius: 5px;
}

.menu-button {
  text-decoration: none;
  color: white;
  padding: 10px 20px;
  margin: 6px 10px 0px 0px;
  font-size: 1.1rem;
}

.menu-links {
  display: flex;
  gap: 15px;
  margin-top: 10px;
}

.Nav-link {
  text-decoration: none;
  color: #0f172a;
  text-transform: capitalize;
  font-size: 1.1rem;
}

/* This is for the recepis list  */
.recipes-container {
  display: flex;
  justify-content: center;
  margin: 50px 0 0 0;
}

.recipes-list-container {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  flex: 2 1 50px;
}

.recipes-links {
  flex: 0.4;
  margin: 0 0 0 70px;
  padding: 10px;
}

.photo-recipes-item img {
  width: 100%;
  object-fit: cover;
  border-radius: 5px;
  height: 74%;
}

.photo-recipes-item {
  width: 30%;
}

.recipes-name {
  text-decoration: none;
  font-size: 1rem;
  color: rgb(102, 95, 95);
  text-transform: capitalize;
}
.recipes-Name {
  font-weight: lighter;
  color: rgb(24, 24, 24);
  font-size: 2.5rem;
}
.full-name {
  font-weight: lighter;
  color: rgb(24, 24, 24);
  font-size: 1.3rem;
}

/* This is for the footer section */
.footer-container {
  padding: 20px;
  display: flex;
  background-color: rgb(33, 32, 32);
  justify-content: center;
  margin: 12% 0 0 0;
}

.footer-item {
  justify-content: center;
}

.footer-text {
  color: #fff;
  font-size: 16px;
  text-transform: capitalize;
}

.footer-link {
  color: #645cff;
  font-size: 16px;
  text-decoration: none;
}
